body {
  background: black;
}

.app {
  height: 1000px;
  max-width: 1280px;
  margin-left: 15%;
  background-image: url(./assets/backdrop.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed;
  /* background-position: center;*/
}

.container {
  margin-top: -30%;

  margin-left: 5%;
  text-align: center;
  color: white;
}

.cards-container {
  padding-top: 58%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 5%;
}

.card {
  background: #ffcc36;
  color: black;
  width: 175px;
  text-align: right;
  padding-right: 5px;
  margin-bottom: 10px;
}
.delete {
  margin-right: -5%;
}
.site-header {
  margin-top: 20px;
  padding-bottom: 50px;
  /* margin-right: 67.5px; */
  background: #2ac7fc;
  height: 75px;
}

.loginForm {
  text-align: right;
  margin-top: -70px;
}

.addForm {
  padding-top: 20px;
}

form {
  display: flex;
  justify-content: space-evenly;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
