.nav {
  text-align: center;
}

.friend-container {
  margin-left: 5%;
  text-align: center;
  color: white;
}

.card-cont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 5%;
}

.card {
  background: #ffcc36;
  color: black;
  width: 175px;
  text-align: right;
  padding-right: 5px;
  margin-bottom: 10px;
}

.loginForm {
  text-align: right;
  margin-top: -70px;
}

form {
  display: flex;
  justify-content: space-evenly;
}
